.logo {
    height: 100%;
    img{
        height: 100%;
    }
}




@media screen and (min-width: 1024px) {
    .logo {
        width: 103px;
        img {
            width: 103px;
        }
    }
    
}