<div class="edit-invoice-container">
    <button class="btn">Go back</button>
    <div>
        <h2>Edit Invoice</h2>
    </div>
    <form action="">
        <div class="sender-details">
            <h4>Bill from </h4>
            <div class="sender-address-wrapper">
                <div class="sender-address">
                    <label for="sender-street">Street</label>
                    <input type="text" id="sender-street" name="sender-street" placeholder="Street">
                </div>
                <div class="sender-address">
                    <label for="sender-city">City</label>
                    <input type="text" id="sender-city" name="sender-city" placeholder="City">
                </div>
                <div class="sender-address">
                    <label for="sender-postcode">Post Code</label>
                    <input type="text" id="sender-postcode" name="sender-postcode" placeholder="Post Code">
                </div>
                <div class="sender-address">
                    <label for="sender-country">Country</label>
                    <input type="text" id="sender-country" name="sender-country" placeholder="Country">
                </div>
            </div>
        </div>
       
    </form>
</div>