@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

// Font Family
$font-family-spartan: 'League Spartan', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font Sizes
$font-size-h1: 32px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 12px;
$font-size-body-1: 12px;
$font-size-body-2: 11px;

// Line Heights
$line-height-h1: 36px;
$line-height-h2: 22px;
$line-height-h3: 24px;
$line-height-h4: 15px;
$line-height-body-1: 15px;
$line-height-body-2: 18px;

// Letter Spacing
$letter-spacing-h1: -1px;
$letter-spacing-h2: -0.63px;
$letter-spacing-h3: -0.8px;
$letter-spacing-h4: -0.25px;
$letter-spacing-body-1: -0.25px;
$letter-spacing-body-2: -0.23px;
