// Primary Colors
$primary-100: #7C5DFA;
$primary-200: #9277FF;

// Dark Colors
$dark-100: #1E2139;
$dark-200: #252945;
$dark-300: #0C0E16;
$dark-400: #141625;


// Gray / Neutral Colors
$white: #FFFFFF;
$gray-100: #DFE3FA;
$gray-200: #888EB0;
$gray-300: #7E88C3;

// Accent Colors
$accent-red: #EC5757;
$light-red: #ff9797;
$light-bg: #F8F8FB;
$dark-bg: #141625;

$card-light-bg: $white;

//Font Colors
$color-text: $gray-200;
$header-text: $dark-300;
$dark-mode-text: $gray-100;
$dark-mode-header: $white;

