<!-- filter-dropdown.component.html -->
<div class="filter-container">
    <div class="filter-toggle" (click)="toggleDropdown()">
      <h4>Filter by Status</h4>
      <img [class.rotate]="dropdownOpen" src="../../../assets/images/icon-arrow-down.svg" alt="Toggle Dropdown" />
    </div>
  
    <div class="filter-options" *ngIf="dropdownOpen">
      <label *ngFor="let status of statuses">
        <input
          type="checkbox"
          [value]="status"
          [(ngModel)]="status.checked"
          (change)="onStatusChange()"
        />
        <h4>{{ status.label }}</h4>
      </label>
    </div>
  </div>
  