<div class="invoice-details-container">
    <button class="back-button" (click)="goBack()">
        <img src="../../../assets/images/icon-arrow-left.svg" alt="back arrow">
        <h4>Go back</h4>
    </button>
    <div class="status-container">
       <p>Status</p>
       @if(invoice?.status === 'paid'){
        <div class="status paid"><div class="round paid"></div>Paid</div>
    }@else if (invoice?.status === 'pending') {
        <div class="status pending"><div class="round pending"></div>Pending</div>
    }@else if (invoice?.status === 'draft') {
        <div class="status draft"><div class="round draft"></div>Draft</div>
    } 
    
    </div>
    <div class="status-container desktop">
        <div class="status-wrapper">
            <p>Status</p>
            @if(invoice?.status === 'paid'){
             <div class="status paid"><div class="round paid"></div>Paid</div>
         }@else if (invoice?.status === 'pending') {
             <div class="status pending"><div class="round pending"></div>Pending</div>
         }@else if (invoice?.status === 'draft') {
             <div class="status draft"><div class="round draft"></div>Draft</div>
         } 
        </div>
      
     <div class="buttons">
        <app-edit-button/>
        <app-delete-button/>
        <app-mark-as-paid/>
     </div>
     </div>
    <div class="invoice-details">
        <div class="invoice-details-desc">
            <div class="sender-details">
                <h3 class="invoice-id">#{{invoice?.id}}</h3>
                <p class="invoice-description">{{invoice?.description}}</p>
            </div>
            <div class="invoice-details-address">
                <p class="invoice-address">{{invoice?.senderAddress?.street}},</p>
                <p class="invoice-address">{{invoice?.senderAddress?.city}},</p>
                <p class="invoice-address">{{invoice?.senderAddress?.postCode}}</p>
                <p class="invoice-address">{{invoice?.senderAddress?.country}}</p>
            </div>
        </div>
        <div class="receiver-details">
            <div class="receiver-details-info">
                <div class="date">
                    <p>Invoice Date</p>
                    <h2>{{invoice?.createdAt | date }}</h2>
                </div>
                <div class="date">
                    <p>Payment Due</p>
                    <h2>{{invoice?.paymentDue | date }}</h2>
            </div>
        </div>
            <div class="receiver-details-address">
                <p>Bill To</p>
                <h2>{{invoice?.clientName}} </h2>
                <p class="receiver-address">{{invoice?.clientAddress?.street}},</p>
                <p class="receiver-address">{{invoice?.clientAddress?.city}},</p>
                <p class="receiver-address">{{invoice?.clientAddress?.postCode}}</p>
                <p class="receiver-address">{{invoice?.clientAddress?.country}}</p>
            </div>
            <div class="receiver-details-email">
                <p>Sent to</p>
                <h2>{{invoice?.clientEmail}}</h2> 
            </div>
        </div>

        <div class="payment-details">
            @for(item of invoice?.items; track item.name) {
             <div class="items">
                <div class="item-quantity-wrapper">
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-quantity">{{item.quantity}}x {{item.price | currency: "GBP"}}</div>
                </div>
                <div class="item-total">
                    <h3>{{item.total | currency: "GBP"}}</h3>
                </div>
            </div>
            }
         
        </div>
</div>
</div>
<footer>
    <app-edit-button [invoiceId]="invoiceId || ''"/>
    <app-delete-button/>
    <app-mark-as-paid/>
</footer>