@use '../../../assets/styles/partials/variables' as *;
@use '../../../assets/styles/partials/mixins' as *;

.invoice-details-container {
    padding: 24px;
    height: 100%;
    @include flex (column, center, start, nowrap, 16px);
    button {
        background-color: inherit;
        border: none;
        color: inherit;
        margin-bottom: 16px;
        @include flex(row, center, center, nowrap, 28px);
        
    }

    .status-container.desktop {
        display: none;
    }

    .status-container {
        height: 90px;
        width: 100%;
        @include border-radius(8px);
        @include flex(row, space-between, center, nowrap, 16px);
        padding: 24px;
    }

    .status {
        @include flex(row, center, center, nowrap, 8px);
        width: 104px;
        height: 40px;
        border-radius: 8px;
        font-weight: bold;
        
        .round {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            
        }
        .paid{
            background-color: #33D69F;
            
        }
        .draft {
            background-color: #373b53;
        }
        .pending {
            background-color: #FF8F00;
        }

        
    }

    .paid{
        background-color:  #33d6a017;
        color: #33D69F;
    }
    .draft {
        background-color: #373b531c;
        color: #373b53;
    }
    .pending {
        background-color: #ff910017;
        color: #FF8F00;
    }

    .invoice-details {
        width: 100%;
        padding: 24px;
        @include border-radius(8px);
        @include flex(column, center, start, nowrap, 16px);
    }

    .payment-details {
        width: 100%;
        padding: 24px;
        @include border-radius(8px);
        // @include flex(column, center, start, nowrap, 24px);
    }

    .items {
        @include flex(row, space-between, center, nowrap, 16px);
    }

    .item-quantity-wraper{
        @include flex(column, center, center, nowrap, 15px);
        margin-bottom: 16px;
    }


}


footer {
    width: 100%;
    height: 91px;
    @include flex(row, center, center, nowrap, 8px);
  
}

@media screen and (min-width: 768px) {
    .invoice-details-container{
   
    .status-container.desktop {
        display: flex;
    }

    .status-container {
        display: none
    }

    .status-wrapper{
        @include flex(row, center, center, nowrap, 16px);
    }
    .buttons {
        @include flex(row, center, center, nowrap, 8px);
    }
}
   footer {
    display: none;
   }
    
}