@use './assets/styles/partials/variables' as *;
@use './assets/styles/partials/mixins' as *;
@use './assets/styles/partials/fonts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-spartan;
    color:$color-text;
    background-color: $light-bg;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}
.invoice {
    background-color: $white;
}
h1, h2, h3, h4 {
    font-weight: $font-weight-bold;
    color: $header-text;
}

.description {
    color: $gray-300; 
}


.dark-mode {
    background-color: $dark-bg;
    color: $dark-mode-text;

    h1, h2, h3, h4 {
        color: $dark-mode-header;
    }

    .description {
        color: $gray-200;
    }
    .invoice {
        background-color: $dark-100;
    }


    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
